<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <a href="/">
            <h1>MongoDB</h1>
        </a>
        <a href="/pessoas/cadastrar">Cadastrar</a>
    </header>
    <main>{{{body}}}</main>
    <footer>
        <a href="https://github.com/rafaelvizu"
        target="_blank" rel="external">Rafael Vizú</a>    
    </footer>
</body>
</html>