 <div>
     <form action="/pessoas/cadastro/confirm" method="post" class="formulario">
            <label for="nome">Nome</label>
            <input type="text" placeholder="digite um nome" name="nome" id="nome" required maxlength="20" minlength="2">
          <input type="submit" value="Cadastrar">
     </form>
 </div>    